/* Custom CSS */

#header_time-it, #header_user {
    color: #fff;
    background: transparent;
    border: 2px solid;
    border-radius: 5px;
    padding: 10px;
}
#header_time-it h1, #header_user h1 {
    font-size:26px;
}
.main_main_top {
    height: 400px;
}
.main_main_bottom {
    height: 200px;
}
#main_button {
    height: 100px;
    width:50%;
    font-size: 30px;
}
/*Animated background*/

@keyframes animatedBackground {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

body {
    background-image: url('../img/bg.jpg');
    background-repeat: repeat-x;
    animation: animatedBackground 40s ease infinite;
}

/*Media queries*/

@media screen and (max-width: 992px) {
    .main_main_top {
        height: 200px;
    }
}